################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CurrencyGrpcSevice/obj
/CurrencyGrpcSevice/bin
/CurrencyGrpcSevice.ClientLib/bin
/CurrencyGrpcSevice.ClientLib/obj
/CurrencyGrpcSevice.WpfApp/.vs
/CurrencyGrpcSevice.WpfApp/bin
/CurrencyGrpcSevice.WpfApp/obj
